{{> header.hbs }}

<article>
	<header>
		<h1>{{ title }}</h1>

		{{#if series}}
			<p><em>Part {{ part }} of the <strong>{{ series }}</strong> series.</em></p>
		{{/if}}
	</header>
	<div class="product">
		<p>Published <time datetime="{{ publish_date }}">{{moment publish_date "Do MMM YYYY" }}</time></p>

		<img src="{{ baseUrl }}{{ image.source }}" alt="{{ image.text }}" />

		<p class="lead">{{{ summary }}}</p>

		{{{ contents }}}

		{{#if urls}}
			<p class="clear">More information, including purchasing options, is available at the following sites:</p>
			<ul>
				{{#kv urls}}
					<li><a href="{{ value }}">{{ key }}</a></li>
				{{/kv}}
			</ul>
		{{/if}}
	</div>

	{{> advertising.hbs }}
</article>

{{> footer.hbs }}
