<article>
	<h2><a href="{{ baseUrl }}{{ path }}">{{ title }}</a></h2>

	<aside>
		<p>Posted in {{ category }} on <time datetime="{{ publish_date }}">{{moment publish_date "Do MMM YYYY" }}</time>.</p>
	</aside>

	{{#if image}}
		<div class="media">
			<a href="{{ baseUrl }}{{ path }}"><img src="{{ baseUrl }}{{ image.source }}" alt="{{ image.text }}" /></a>
		</div>
	{{/if}}
	<p>{{{ summary }}}</p>
</article>
