{{> header.hbs }}

<article>
	<header>
		<h1>{{ title }}</h1>
	</header>
	<div class="product">
		<aside>
			<p>Published <time datetime="{{ publish_date }}">{{moment publish_date "Do MMM YYYY"}}</time></p>
		</aside>
		<img src="{{ baseUrl }}{{ image.source }}" alt="{{ image.text }}" />

		<p class="lead">{{{ summary }}}</p>
		{{{ contents }}}

		<h3 class="clear">Track Listing</h3>
		<ul>
			{{#each track_listing}}
				<li>{{ . }}</li>
			{{/each}}
		</ul>

		{{#if urls}}
			<p>More information, including purchasing options, is available at the following sites:</p>
			<ul>
				{{#kv urls}}
					<li><a href="{{ value }}">{{ key }}</a></li>
				{{/kv}}
			</ul>
		{{/if}}
		<aside>
			{{> tags.hbs }}
		</aside>
	</div>
</article>

{{> footer.hbs }}
