{{> header.hbs blog=true }}

<article>
	<header{{#if image}} class="image"{{/if}}>
		<div>
			<h1>{{ title }}</h1>
		</div>
	</header>

	<p class="lead">{{{ summary }}}</p>
	{{{ contents }}}

	<aside>
		{{> tags.hbs }}

		<p>Posted in <a href="/blog/category/{{ lower category }}/"><strong>{{ category }}</strong></a> on <a href="/blog/date/{{moment publish_date 'YYYY' }}/{{moment publish_date 'MM' }}/"><time datetime="{{ publish_date }}">{{moment publish_date "Do MMM YYYY" }}</time></a></p>
	</aside>
</article>

{{> footer.hbs }}
