<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:media="http://search.yahoo.com/mrss/">
<channel>
	<title>{{ siteTitle }}</title>
	<link>{{ baseUrl }}</link>
	<description>{{ defaultDescription }}</description>
	<copyright>2013&#8211;{{ moment now "YYYY" }} Stoo Goff</copyright>
	<language>en</language>
	{{#first Article 20}}
		<item>
			<guid isPermaLink="true">{{ ../baseUrl }}{{ path }}</guid>
			<title>{{ title }}</title>
			<link>{{ ../baseUrl }}{{ path }}</link>
			<description>
				<![CDATA[
				{{{ tags summary }}}
				]]>
			</description>
			<pubDate>{{ moment publish_date "ddd, DD MMM YYYY HH:mm Z" }}</pubDate>
			<author>stoo.goff@gmail.com (Stoo Goff)</author>
			<content:encoded>
				<![CDATA[
				<p>{{{ summary }}}</p>
				{{{ contents }}}
				]]>
			</content:encoded>
			{{#if image}}
			<media:content url="{{ ../baseUrl }}{{ image.source }}" medium="image" type="{{ image.type }}" />
			{{/if}}
			<category>{{ category }}</category>
		</item>
	{{/first}}
</channel>
</rss>