{{> header.hbs }}

<section class="thumbnails">
	<h1>Tagged: {{ title}}</h1>
	<p class="lead">Everything&mdash;article, book, album and game&mdash;tagged with <strong>{{ title }}</strong>.</p>

	<ul>
		{{#each links}}
			<li><a href="{{ ../baseUrl }}{{ path }}">{{ title }}</a></li>
		{{/each}}
	</ul>
</section>

{{> footer.hbs }}
