{{> header.hbs }}

<section class="thumbnails">
	<h1>Tagged: {{ title}}</h1>
	<p class="lead"><em>Everything article, book, album and game tagged with <strong>{{ title }}</strong>.</em></p>

	<ul>
		{{#each links}}
			<li><a href="{{ ../baseUrl }}{{ path }}">{{ title }}</a></li>
		{{/each}}
	</ul>
</section>

{{> footer.hbs }}
