{{> header.hbs }}

<section class="thumbnails">
	<h1>{{ title}}</h1>

	<p class="lead"><em>Occasionally I build video games, mostly for <a href="http://ludumdare.com/compo/">Ludum Dare</a>.</em></p>

	<p>I like the challenge of having a restricted deadline as it forces you to focus on building the game to the exclusion of all else. There's no time worry about how to anything, you just <em>do</em>.</p>

	{{> advertising.hbs }}

	<div class="media">
		{{#each games}}
			<a href="/{{ path }}/"><img src="{{ ../cdn }}/media/img/300/{{ image }}" alt="{{ title}}" /></a>
		{{/each}}
	</div>
</section>

{{>footer.hbs }}