{{> header.hbs }}

<article>
	<header>
		<h1>{{ title }}</h1>
	</header>
	<div class="product">
		<aside>
			<p>Published <time datetime="{{ publish_date }}">{{moment publish_date "Do MMM YYYY" }}</time></p>
		</aside>
		<img src="{{ baseUrl }}{{ image.source }}" alt="{{ image.text }}" />

		{{{ contents }}}

		{{#if urls}}
			{{#if urls.Play}}
				<p>Click here to <a href="{{ urls.Play }}">play {{ title }}</a>.</p>
			{{/if}}
			{{#if urls.Source}}
				<p>Click here to <a href="{{ urls.Source }}">view the source code</a>.</p>
			{{/if}}
		{{/if}}

		<aside>
			{{> tags.hbs }}
		</aside>
	</div>
</article>

{{> footer.hbs }}
